In [1]:
import pyspark

In [2]:
pyspark.__version__

'3.4.4'

In [47]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.master("local[*]").appName('hw5').getOrCreate()

df = spark.read.parquet('./data/raw/yellow/2024/10/yellow_tripdata_2024_10.parquet')

df.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp_ntz (nullable = true)
 |-- tpep_dropoff_datetime: timestamp_ntz (nullable = true)
 |-- passenger_count: long (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: long (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- Airport_fee: double (nullable = true)

In [6]:
df.schema

StructType([StructField('VendorID', IntegerType(), True), StructField('tpep_pickup_datetime', TimestampNTZType(), True), StructField('tpep_dropoff_datetime', TimestampNTZType(), True), StructField('passenger_count', LongType(), True), StructField('trip_distance', DoubleType(), True), StructField('RatecodeID', LongType(), True), StructField('store_and_fwd_flag', StringType(), True), StructField('PULocationID', IntegerType(), True), StructField('DOLocationID', IntegerType(), True), StructField('payment_type', LongType(), True), StructField('fare_amount', DoubleType(), True), StructField('extra', DoubleType(), True), StructField('mta_tax', DoubleType(), True), StructField('tip_amount', DoubleType(), True), StructField('tolls_amount', DoubleType(), True), StructField('improvement_surcharge', DoubleType(), True), StructField('total_amount', DoubleType(), True), StructField('congestion_surcharge', DoubleType(), True), StructField('Airport_fee', DoubleType(), True)])

In [51]:
from pyspark.sql import types

schema = types.StructType([
    types.StructField("VendorID", types.IntegerType(), True),
    types.StructField("tpep_pickup_datetime", types.TimestampType(), True),
    types.StructField("tpep_dropoff_datetime", types.TimestampType(), True),
    types.StructField("passenger_count", types.LongType(), True),
    types.StructField("trip_distance", types.DoubleType(), True),
    types.StructField("RatecodeID", types.LongType(), True),
    types.StructField("store_and_fwd_flag", types.StringType(), True),
    types.StructField("PULocationID", types.IntegerType(), True),
    types.StructField("DOLocationID", types.IntegerType(), True),
    types.StructField("payment_type", types.LongType(), True),
    types.StructField("fare_amount", types.DoubleType(), True),
    types.StructField("extra", types.DoubleType(), True),
    types.StructField("mta_tax", types.DoubleType(), True),
    types.StructField("tip_amount", types.DoubleType(), True),
    types.StructField("tolls_amount", types.DoubleType(), True),
    types.StructField("improvement_surcharge", types.DoubleType(), True),
    types.StructField("total_amount", types.DoubleType(), True),
    types.StructField("congestion_surcharge", types.DoubleType(), True)
])

In [53]:
df = None

import gc
gc.collect()

0

In [54]:
df = spark.read.schema(schema).parquet('./data/raw/yellow/2024/10/yellow_tripdata_2024_10.parquet')

In [55]:
df.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: long (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: long (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [56]:
df.repartition(4).write.parquet("./data/repartition/")

In [57]:
! cd data/repartition && ls -lh

total 97M
-rw-r--r-- 1 vice vice   0 Mar  7 17:23 _SUCCESS
-rw-r--r-- 1 vice vice 25M Mar  7 17:23 part-00000-0d81658f-cd65-4a96-a4f4-844b913dc0ec-c000.snappy.parquet
-rw-r--r-- 1 vice vice 25M Mar  7 17:23 part-00001-0d81658f-cd65-4a96-a4f4-844b913dc0ec-c000.snappy.parquet
-rw-r--r-- 1 vice vice 25M Mar  7 17:23 part-00002-0d81658f-cd65-4a96-a4f4-844b913dc0ec-c000.snappy.parquet
-rw-r--r-- 1 vice vice 25M Mar  7 17:23 part-00003-0d81658f-cd65-4a96-a4f4-844b913dc0ec-c000.snappy.parquet

In [65]:
df.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|       2| 2024-10-01 08:30:44|  2024-10-01 08:48:26|              1|          3.0|         1|                 N|         162|         246|           1|       18.4|  1.0|    0.5|       1.5|         0.0|                  1.0|        24.9|                 2.5|
|       1| 2024-10-01 08:12:20|  2024-10-01 08:25:25|              1|          2.2|         1|                 N|          48|         236|           1|       14.2|  3.5|    0.5|       3.8|         0.0|                  1.0|        23.0|                 2.5|
|       1| 2024-10-01 08:04:46|  2024-10-01 08:13:52|              1|          2.7|         1|                 N|         142|          24|           1|       13.5|  3.5|    0.5|       3.7|         0.0|                  1.0|        22.2|                 2.5|
|       1| 2024-10-01 08:12:10|  2024-10-01 08:23:01|              1|          3.1|         1|                 N|         233|          75|           1|       14.2|  3.5|    0.5|       2.0|         0.0|                  1.0|        21.2|                 2.5|
|       1| 2024-10-01 08:30:22|  2024-10-01 08:30:39|              1|          0.0|         1|                 N|         262|         262|           3|        3.0|  3.5|    0.5|       0.0|         0.0|                  1.0|         8.0|                 2.5|
|       2| 2024-10-01 08:31:20|  2024-10-01 08:36:00|              2|         0.97|         1|                 N|         137|         137|           1|        7.2|  1.0|    0.5|      2.44|         0.0|                  1.0|       14.64|                 2.5|
|       1| 2024-10-01 08:42:57|  2024-10-01 08:49:01|              1|          1.3|         1|                 N|         142|          48|           1|        7.9|  3.5|    0.5|      2.55|         0.0|                  1.0|       15.45|                 2.5|
|       1| 2024-10-01 08:59:55|  2024-10-01 09:02:24|              1|          0.5|         1|                 N|         230|         161|           1|        5.1|  3.5|    0.5|       2.0|         0.0|                  1.0|        12.1|                 2.5|
|       1| 2024-10-01 08:00:47|  2024-10-01 08:04:22|              0|          1.1|         1|                 N|         142|         237|           1|        7.2|  3.5|    0.5|       3.0|         0.0|                  1.0|        15.2|                 2.5|
|       1| 2024-10-01 08:17:36|  2024-10-01 08:26:22|              1|          2.2|         1|                 N|         162|         145|           1|       11.4|  3.5|    0.5|       3.3|         0.0|                  1.0|        19.7|                 2.5|
|       1| 2024-10-01 08:49:00|  2024-10-01 08:52:20|              1|          0.6|         1|                 N|         229|         162|           1|        5.1|  3.5|    0.5|       2.0|         0.0|                  1.0|        12.1|                 2.5|
|       2| 2024-10-01 08:07:26|  2024-10-01 08:13:20|              1|          0.9|         1|                 N|         162|         162|           1|        7.9|  1.0|    0.5|      3.87|         0.0|                  1.0|       16.77|                 2.5|
|       2| 2024-10-01 08:17:11|  2024-10-01 08:25:00|              1|         1.33|         1|                 N|         162|         230|           1|        9.3|  1.0|    0.5|       2.0|         0.0|                  1.0|        16.3|                 2.5|
|       2| 2024-10-01 08:00:34|  2024-10-01 08:05:13|              1|         1.79|         1|                 N|         211|         234|           1|        9.3|  1.0|    0.5|      2.86|         0.0|                  1.0|       17.16|                 2.5|
|       2| 2024-10-01 07:58:40|  2024-10-01 08:20:26|              1|         5.16|         1|                 N|         142|           7|           1|       24.7|  1.0|    0.5|       0.0|         0.0|                  1.0|        29.7|                 2.5|
|       1| 2024-10-01 08:55:29|  2024-10-01 09:42:35|              1|         11.3|        99|                 N|         161|         197|           1|       39.5|  0.0|    0.5|       0.0|        6.94|                  1.0|       47.94|                 0.0|
|       1| 2024-10-01 08:08:59|  2024-10-01 08:40:58|              1|         20.6|         1|                 N|         132|         243|           2|       76.5| 2.75|    0.5|       0.0|        6.94|                  1.0|       87.69|                 0.0|
|       2| 2024-10-01 08:18:38|  2024-10-01 08:36:47|              2|         7.42|         1|                 N|         239|         247|           4|      -33.1| -1.0|   -0.5|       0.0|         0.0|                 -1.0|       -38.1|                -2.5|
|       2| 2024-10-01 08:18:38|  2024-10-01 08:36:47|              2|         7.42|         1|                 N|         239|         247|           4|       33.1|  1.0|    0.5|       0.0|         0.0|                  1.0|        38.1|                 2.5|
|       2| 2024-10-01 08:39:33|  2024-10-01 08:53:59|              1|         4.49|         1|                 N|         247|          60|           2|       21.9|  1.0|    0.5|       0.0|         0.0|                  1.0|        24.4|                 0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
only showing top 20 rows

In [66]:
from pyspark.sql import functions as F

In [67]:
df_temp = df \
    .withColumn('pickup_date', F.to_date(df.tpep_pickup_datetime)) \
    .withColumn('dropoff_date', F.to_date(df.tpep_dropoff_datetime)) \
    .select('VendorID', 'pickup_date', 'dropoff_date', 'PULocationID', 'DOLocationID')

In [69]:
df_temp.show()

+--------+-----------+------------+------------+------------+
|VendorID|pickup_date|dropoff_date|PULocationID|DOLocationID|
+--------+-----------+------------+------------+------------+
|       2| 2024-10-01|  2024-10-01|         162|         246|
|       1| 2024-10-01|  2024-10-01|          48|         236|
|       1| 2024-10-01|  2024-10-01|         142|          24|
|       1| 2024-10-01|  2024-10-01|         233|          75|
|       1| 2024-10-01|  2024-10-01|         262|         262|
|       2| 2024-10-01|  2024-10-01|         137|         137|
|       1| 2024-10-01|  2024-10-01|         142|          48|
|       1| 2024-10-01|  2024-10-01|         230|         161|
|       1| 2024-10-01|  2024-10-01|         142|         237|
|       1| 2024-10-01|  2024-10-01|         162|         145|
|       1| 2024-10-01|  2024-10-01|         229|         162|
|       2| 2024-10-01|  2024-10-01|         162|         162|
|       2| 2024-10-01|  2024-10-01|         162|         230|
|       2| 2024-10-01|  2024-10-01|         211|         234|
|       2| 2024-10-01|  2024-10-01|         142|           7|
|       1| 2024-10-01|  2024-10-01|         161|         197|
|       1| 2024-10-01|  2024-10-01|         132|         243|
|       2| 2024-10-01|  2024-10-01|         239|         247|
|       2| 2024-10-01|  2024-10-01|         239|         247|
|       2| 2024-10-01|  2024-10-01|         247|          60|
+--------+-----------+------------+------------+------------+
only showing top 20 rows

In [68]:
df_temp.createOrReplaceTempView('trips')

In [71]:
spark.sql("""
    SELECT count(1) AS trips_count 
    FROM trips 
    WHERE pickup_date = '2024-10-15'
""").show()

+-----------+
|trips_count|
+-----------+
|     116396|
+-----------+

In [60]:
df.createOrReplaceTempView('yellow_tripdata_2024_10')

In [63]:
spark.sql("""
    SELECT count(1) AS trips_count 
    FROM yellow_tripdata_2024_10 
    WHERE DATE(tpep_pickup_datetime) = '2024-10-15'
""").show()

+-----------+
|trips_count|
+-----------+
|     116396|
+-----------+

In [72]:
spark.sql("""
SELECT 
    (unix_timestamp(tpep_dropoff_datetime) - unix_timestamp(tpep_pickup_datetime)) / 3600 AS hours
FROM yellow_tripdata_2024_10
ORDER BY hours DESC
LIMIT 10;
""").show()

+------------------+
|             hours|
+------------------+
|162.61777777777777|
|           143.325|
|137.76055555555556|
|114.83472222222223|
| 89.89833333333333|
| 89.44611111111111|
| 70.29916666666666|
| 67.57333333333334|
| 66.06666666666666|
|           46.4225|
+------------------+

In [73]:
# Create zone
df_zone = spark.read \
    .option("header", "true") \
    .csv('taxi_zone_lookup.csv')

In [75]:
df_zone.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [76]:
# Zone temp view
df_zone.createOrReplaceTempView('zones')

In [77]:
spark.sql("""
    SELECT zones.Zone , count(1) as trips_count 
    FROM yellow_tripdata_2024_10
    INNER JOIN zones 
    ON zones.LocationID = yellow_tripdata_2024_10.PULocationID
    GROUP BY zones.Zone
    ORDER BY trips_count;
""").show()

+--------------------+-----------+
|                Zone|trips_count|
+--------------------+-----------+
|Governor's Island...|          1|
|       Rikers Island|          2|
|       Arden Heights|          2|
|         Jamaica Bay|          3|
| Green-Wood Cemetery|          3|
|Charleston/Totten...|          4|
|   Rossville/Woodrow|          4|
|       West Brighton|          4|
|Eltingville/Annad...|          4|
|       Port Richmond|          4|
|         Great Kills|          6|
|        Crotona Park|          6|
|Heartland Village...|          7|
|     Mariners Harbor|          7|
|Saint George/New ...|          9|
|             Oakwood|          9|
|       Broad Channel|         10|
|New Dorp/Midland ...|         10|
|         Westerleigh|         12|
|     Pelham Bay Park|         12|
+--------------------+-----------+
only showing top 20 rows